@use "_global.scss" as g;

.bicycle  ul {
   display: flex;
   //flex-wrap: wrap;
   justify-content: space-between;
   @include g.breakpoint( pc-wide ) {
            flex-direction: column;
        }
}

.bicycle li {
    width: 32%;
    @include g.breakpoint( pc-wide ) {
            width: 100%;
            margin-bottom: 30px;
        }
}